* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.home {
  height: 100%;
  padding-top: 40vh;
  overflow: hidden;
  align-items: center;
  text-align: center;
  background: url(./pictures/ios-26-apple-4000x2182-23302.jpg) center top;
  background-size: cover;
}
.home-name {
  font-size: 5rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 2px solid #fff;
}
.home-name-last {
  color: rgb(252, 252, 19);
  font-weight: 700;
}

.menu-btn {
  position: absolute;
  z-index: 1;
  right: 1rem;
  top: 1rem;
  height: 20px;
  width: 28px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.menu-btn-burger {
  position: absolute;
  right: 0;
  top: 0.5rem;
  width: 28px;
  height: 3px;
  background-color: #fff;
  transition: all 0.5s ease-in-out;
}
.menu-btn-burger::before {
  content: "";
  position: absolute;
  top: -8px;
  width: 28px;
  height: 3px;
  background: #fff;
  transition: all 0.5s ease-in-out;
}
.menu-btn-burger::after {
  content: "";
  position: absolute;
  top: 8px;
  width: 20px;
  height: 3px;
  background: #fff;
  transition: all 0.5s ease-in-out;
}
.menu-btn-burger.open {
  transform: rotate(720deg);
  background: transparent;
}
.menu-btn-burger.open::before {
  transform: rotate(45deg) translate(5px, 8px);
}
.menu-btn-burger.open::after {
  width: 28px;
  transform: rotate(-45deg) translate(3px, -7px);
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  opacity: 2.98;
  visibility: hidden;
}
.nav.open {
  visibility: visible;
}
.nav .menu-nav {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  background: #000000;
  list-style: none;
  padding-right: 1rem;
  transform: translateY(-100%);
  transition: all 0.5s ease-in-out;
}
.nav .menu-nav.open {
  transform: translateY(0);
}
.nav .menu-nav-item {
  transform: translateX(100vw);
  transition: all 0.5s ease-in-out;
}
.nav .menu-nav-item.open {
  transform: translateX(0);
}
.nav .menu-nav-item.active > a {
  color: rgb(252, 252, 19);
}
.nav .menu-nav-link {
  display: inline-block;
  font-size: 2rem;
  text-transform: uppercase;
  padding: 2rem 0;
  font-weight: 300;
  transition: all 0.5s ease-in-out;
}
.nav .menu-nav-link:hover {
  color: rgb(252, 252, 19);
}

.menu-nav-item:nth-child(1) {
  transition-delay: 0.25s;
}

.menu-nav-item:nth-child(2) {
  transition-delay: 0.35s;
}

.menu-nav-item:nth-child(3) {
  transition-delay: 0.45s;
}

.menu-nav-item:nth-child(4) {
  transition-delay: 0.55s;
}

.about {
  padding-bottom: 2rem;
}
.about-bio-image {
  height: 50vh;
  width: 100%;
  background: url(./pictures/ios-26-apple-4000x2182-23302.jpg) center top;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.about-bio-image p {
  margin-bottom: 2rem;
}
.about-bio {
  width: 80%;
  text-align: center;
}
.about-bio .text-secondary {
  padding-bottom: 1rem;
}
.about .jobs {
  width: 60vw;
  margin: 2rem auto 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
}
.about .jobs-job {
  background: rgb(25.5, 25.5, 25.5);
  padding: 0.5rem;
  border-bottom: 5px solid rgb(252, 252, 19);
}
.about .jobs-job h2, .about .jobs-job h3 {
  margin: 0.5rem 0;
}
.about .jobs-job h6 {
  margin: 0.3rem 0;
}
.about .social-icons {
  display: flex;
  flex-direction: column;
}
.about footer {
  transform: rotate(90deg) translate(-3rem, -5rem);
}

.projects {
  padding-bottom: 2rem;
}
.projects-bio-image {
  height: 30vh;
  width: 100%;
  background: url(./pictures/ios-26-apple-4000x2182-23302.jpg) center top;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.projects-bio-image .text-secondary {
  font-size: 2rem;
  margin-bottom: 2rem;
}
.projects-items {
  width: 60vw;
  margin: 2rem auto 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
}
.projects-item {
  position: relative;
  border-bottom: 5px solid rgb(252, 252, 19);
  overflow: hidden;
  cursor: pointer;
}
.projects-item img {
  width: 100%;
}
.projects-item::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgb(252, 252, 19);
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.projects-item:hover::after {
  top: 0;
  opacity: 0.9;
}
.projects-item:hover .projects-btn {
  opacity: 1;
}
.projects-btns {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  text-align: center;
}
.projects-btn {
  opacity: 0;
  color: #fff;
  transition: all 0.5s ease-in-out;
}
.projects-btn:hover {
  color: black;
}
.projects .social-icons {
  display: flex;
  flex-direction: column;
}
.projects footer {
  transform: rotate(90deg) translate(-3rem, -5rem);
}

.contact {
  height: 100%;
  padding-top: 40vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url(./pictures/ios-26-apple-4000x2182-23302.jpg) center top;
  background-size: cover;
}
.contact h2 {
  font-size: 3rem;
  margin-bottom: 2rem;
}
.contact-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
  font-size: 1.5rem;
}
.contact .social-icons {
  position: initial;
  margin-top: 2rem;
}

@media screen and (min-width: 786px) {
  .menu-btn {
    visibility: hidden;
  }
  .nav {
    visibility: visible;
  }
  .nav .menu-nav {
    display: block;
    transform: translateY(0);
    height: 100%;
    background: transparent;
    text-align: right;
  }
  .nav .menu-nav-item {
    display: inline;
    padding-right: 1rem;
  }
  .nav .menu-nav-link {
    font-size: 1rem;
  }
  .about-bio {
    font-size: 1.5rem;
  }
  .projects-bio-img {
    height: 40vh;
  }
  .projects-items {
    grid-template-columns: repeat(2, 1fr);
  }
  .projects .text-secondary {
    font-size: 3rem;
  }
  .contact-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1024px) {
  .projects-items {
    grid-template-columns: repeat(3, 1fr);
  }
  .contact-list {
    grid-template-columns: repeat(3, 1fr);
  }
  .projects-bio-image {
    height: 40vh;
  }
}
@media screen and (min-width: 1600px) {
  .projects-bio-image {
    height: 50vh;
  }
}
body {
  background-color: rgb(36, 36, 36);
  color: #fff;
  height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1;
}

h1,
h2,
h3 {
  font-weight: 400;
}

a {
  color: #fff;
  text-decoration: none;
}

.text-secondary {
  color: rgb(252, 252, 19);
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
  padding: 1rem;
}

main {
  height: 100%;
  width: 100%;
}
main .social-icons {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
}
main .social-icons a {
  padding: 0.4rem;
}
main .social-icons a:hover {
  color: rgb(130, 130, 2);
  transition: all 0.5s ease-in-out;
}

footer {
  font-size: 1rem;
  position: fixed;
  bottom: 0.4rem;
  right: 1rem;
  text-align: right;
  padding: 1rem;
  color: #fff;
}

.p-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 80%;
  margin: 0 auto;
}
.p-center .p-center-p, .p-center .p-center-p1 {
  font-weight: 700;
}
.p-center .p-center-p:hover, .p-center .p-center-p1:hover {
  color: gray;
}
.p-center .p-center-p1:hover {
  color: pink;
}
@media (max-width: 800px) {
  .p-center {
    flex-direction: column;
  }
}/*# sourceMappingURL=main.css.map */