$primary-text-color: #000000;
$primary-background: rgb(36, 36, 36);
$secondary-text-color: gray;
$secondary-color: rgb(252, 252, 19);
$primary-hover: rgb(130, 130, 2);
$mobile-view: 800px;
$accent-color: pink;

$font-weights: (
  "regular": 400,
  "medium": 500,
  "bold": 700,
);
